<?xml version="1.0" encoding="utf-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.reactiva.laquebrada"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/file"/>

    <name>La Quebrada</name>

    <description>
        Tienda la Quebrada 
    </description>

    <author href="http://www.reactiva.com.co" email="gerencia@reactiva.com.co">
        Reactiva Soporte y Desarrollo S.A.S - Ing. Fernando Montes Botero 
    </author>

</widget>